<h1 class="text-center text-muted my-3">自己申告書の一覧</h1>
<div class="my-4 py-4 bg-light shadow">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <h2>社員名：<%= current_user.name %></h2>
      <% unless current_user.root %>
        <%= link_to '新規作成', new_post_path, class:'btn btn-success my-2 shadow' %>
      <% end %>

      <%= search_form_for @q, class: 'mb-1' do |f| %>
        <div class="row justify-content-md-center py-1">
          <div class="form-group col-md-6">
            <%= f.label '名称'%>
            <%= f.search_field :name_or_post6_or_post10_or_post11_or_post12_or_post13_cont, class: 'form-control ', placeholder: '（例）社員名・部署・申告内容など' %>
          </div>
          <div class="form-group col-md-3">
            <%= f.label '年度' %>
            <%= f.date_select :created_at_during_year, {discard_day: true, discard_month: true,  start_year: @fiscal_year, end_year: @fiscal_year - 10, include_blank: true}, {class: 'form-select'} %>
          </div>
          <div class="col-md-2 mt-2">
            <%= image_tag '/sc.svg', size:'30x30'  %>
            <%= f.submit class: 'btn btn-outline-primary shadow' %>
          </div>
        </div>
      <% end %>

      <div class="mt-4 pagination flex-wrap">
        <%= paginate @posts, theme: 'bootstrap-5' %>
      </div>
      <table class="table table-striped table-hover table-borderless shadow">
        <thead>
          <tr>
            <th scope="col", class='text-center'>作成履歴</th>
            <% if  current_user.root == true %>
              <th scope="col", class='text-center'><%= sort_link(@q, :name) %></th>
              <th scope="col", class='text-center'><%= sort_link(@q, :workplace, [:retired, 'created_at desc']) %></th>
              <th scope="col", class='text-center'><%= sort_link(@q, :created_at, defalut_order: :desc) %></th>
            <% else %>
              <th scope="col", class='text-center'><%= Post.human_attribute_name(:name) %></th>
              <th scope="col", class='text-center'><%= Post.human_attribute_name(:workplace) %></th>
              <th scope="col", class='text-center'><%= sort_link(@q, :created_at, defalut_order: :desc) %></th>
              <th scope="col", class='text-center'>操作</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post|%>
            <tr>
              <% if current_user.HR %>
                <% if current_user == post.user %>
                  <td class='text-center'><%= link_to '詳細' , post_path(post), class: 'btn btn-primary shadow' %></td>
                <% else %>
                  <td></td>
                <% end %>
              <% else %>
                <td class='text-center'><%= link_to '詳細' , post_path(post), class: 'btn btn-primary shadow' %></td>
              <% end %>
              <td class='text-center'><%= post.name %></td>
              <td class='text-center'><%= post.workplace %></td>
              <td class='text-center'><%= post.created_at.strftime("%Y年%m月%d日") %></td>
              <td class='text-center'>
                <% unless current_user.root %>
                  <% if current_user.HR == true %>
                    <% if current_user == post.user %>
                      <%= link_to '編集', edit_post_path(post), class:"btn btn-primary mr-3 shadow" %>
                      <%= link_to '削除', post_path(post), method: :delete, data: {confirm: "「#{post.name}」を削除してよろしいですか？"}, class:"btn btn-danger shadow" %>
                    <% end %>
                  <% else %>
                    <%= link_to '編集', edit_post_path(post), class:"btn btn-primary mr-3 shadow" %>
                    <%= link_to '削除', post_path(post), method: :delete, data: {confirm: "「#{post.name}」を削除してよろしいですか？"}, class:"btn btn-danger shadow" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class='d-grid gap-2 d-md-flex justify-content-md-end'>
        <%= image_tag '/output.png', size:'40x40'  %>
        <%= link_to 'エクスポート', posts_path(format: :csv), class:"btn btn-secondary mb-3 shadow" %>
      </div>
    </div>
  </div>
</div>
